# Fundamentos de Python

## Listas

In [15]:
# cirando uma lista
listadomercado = ['ovos, farinha, leite, maças']

In [2]:
print(listadomercado)

['ovos, farinha, leite, maças']

In [17]:
# criando outra lista
listadomercado2 = ['ovos', 'farinha', ' leite', 'maças']

In [18]:
print(listadomercado2)

['ovos', 'farinha', ' leite', 'maças']

In [19]:
listadomercado[0]

'ovos, farinha, leite, maças'

In [20]:
listadomercado2[0]

'ovos'

In [21]:
lista3 = [12, 100, 'universidade']

In [22]:
print(lista3)

[12, 100, 'universidade']

In [23]:
# atribuindo cada valor da lista a uma variável
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [24]:
print(item1, item2, item3)

12 100 universidade

### Atualizando um item da lista

In [25]:
listadomercado2[2]

' leite'

In [26]:
listadomercado2[2] = 'chocolate'

In [27]:
listadomercado2[2]

'chocolate'

### Deletando um item da lista

In [28]:
# deletando um item específico da lista
del listadomercado2[3]

In [29]:
print(listadomercado2)

['ovos', 'farinha', 'chocolate']

In [30]:
del listadomercado2[3]

IndexError: list assignment index out of range

### Lista de listas (listas aninhadas)

Listas de listas são matrizes em python.

In [31]:
# cirando uma lista de listas
matriz = [[1, 2, 3],[4, 5, 6], [7, 8, 9]]

In [32]:
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
# atribuindo um item da lista a uma variável
x = matriz[0]

In [34]:
x

[1, 2, 3]

In [36]:
y = x[0]

In [37]:
y

1

In [38]:
a = matriz[1]

In [39]:
a

[4, 5, 6]

In [42]:
valor_1_0 = a[0]

In [43]:
valor_1_0

4

In [44]:
valor_1_2 = a[2]

In [45]:
valor_1_2

6

In [47]:
b = matriz[2]

In [48]:
b

[7, 8, 9]

In [49]:
valor_2_0 = b[0]

In [50]:
valor_2_0

7

###  Operações com listas

In [51]:
# criando uma lista aninhada
listas = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
listas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
# atribuindo a variável a o primeiro valor da primeira lista
a = listas [0][0]

In [60]:
a

1

In [61]:
# atribuindo a variável b o terceiro elemento da segunda lista
b = listas[1][2]

In [62]:
b

6

In [63]:
c = listas[0][2] + 10

In [64]:
c

13

In [65]:
d = 10

In [66]:
d

10

In [67]:
e = d * listas[2][0]

In [68]:
e

70

### Concatenando listas

In [69]:
lista_s1 = [1, 2, 3]

In [70]:
lista_s1

[1, 2, 3]

In [72]:
lista_s2 = [4, 5, 6]

In [73]:
lista_s2

[4, 5, 6]

In [75]:
# concatenando listas
lista_total = lista_s1 + lista_s2

In [76]:
lista_total

[1, 2, 3, 4, 5, 6]

### Operador in

In [77]:
# criando uma lista
teste = [1, 2, 3, 4, 5, 6]

In [79]:
# verificando se o valor 10 pertence a lista
print(10 in teste)

False

In [80]:
# verificando se o valor 5 pertence a lista
print(5 in teste)

True

### Fuções Built-in

In [81]:
# função len() retorna o comprimento da lista
len(teste)

6

In [82]:
# função max() retorna o valor máximo da lista
max(teste)

6

In [84]:
# função min() retorna o valor mínimo da lista
min(teste)

1

In [85]:
# adicionando item a lista
listadomercado2.append('carne')

In [86]:
listadomercado2

['ovos', 'farinha', 'chocolate', 'carne']

In [87]:
listadomercado2.count("carne")

1

In [88]:
# cirnado uma lista vazia
a = []

In [89]:
print(a)

[]

In [90]:
type(a)

list

In [91]:
a.append(10)

In [92]:
a

[10]

In [93]:
old_list = [1, 2, 4, 5]

In [94]:
new_list = []

In [95]:
# copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [97]:
new_list

[1, 2, 4, 5]

In [99]:
c = [10, 20]

In [100]:
c.append(30)

In [101]:
c.append(40)

In [102]:
c

[10, 20, 30, 40]

In [103]:
c.count(20)

1

In [112]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [113]:
cidades.index('Salvador')

2

Lembre-se que Python inicia a indexação por 0 (zero)!

In [114]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [115]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [116]:
# substitui o elemento 2 pelo número 10
cidades.insert(2, 10)

In [117]:
cidades

['Recife', 'Manaus', 10, 'Salvador', 'Fortaleza', 'Palmas']

In [119]:
# remover um item da lista
cidades.remove(10)

In [120]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [121]:
# reverter a lista
cidades.reverse()

In [122]:
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [123]:
x = [5, 4, 3, 2, 1]

In [124]:
x

[5, 4, 3, 2, 1]

In [127]:
# ordenar a lista
x.sort()

In [128]:
x

[1, 2, 3, 4, 5]

## Fim