# Fundamentos de Python

## Tuplas

In [1]:
# criando uma tupla
tupla1 = ('Geografia', 23, 'Elefantes')

In [2]:
tupla1

('Geografia', 23, 'Elefantes')

In [3]:
# tuplas não suportam a função append()
tupla1.append('chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# tuplas não suprotam delete de um item específico
del tupla1['Geografia']

TypeError: 'tuple' object does not support item deletion

In [5]:
# tuplas pode ter um único item
tupla1 = ('Chocolate')

In [6]:
tupla1

'Chocolate'

In [15]:
tupla1 = ('Geografia', 23, 'Elefantes')

In [10]:
tupla1[0]

'Geografia'

In [11]:
# verificando o comprimento da tupla
len(tupla1)

3

In [13]:
# slicing da mesma forma que se faz com listas
tupla1[1:]

(23, ' Elefantes')

In [16]:
tupla1.index('Elefantes')

2

In [18]:
# tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [19]:
# deletando a tupla
del tupla1

In [20]:
tupla1

NameError: name 'tupla1' is not defined

In [21]:
t2 = ('A', 'B', 'C')

In [22]:
t2

('A', 'B', 'C')

In [23]:
# tuplas não suportam atribuição de itens
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [24]:
# usando a função list() para converter uma tupla em lista
lista_t2 = list(t2)

In [25]:
lista_t2

['A', 'B', 'C']

In [26]:
type(lista_t2)

list

In [27]:
lista_t2.append('D')

In [28]:
lista_t2

['A', 'B', 'C', 'D']

In [29]:
# usando a função tuple() par converter uma lista para tupla
t2 = tuple(lista_t2)

In [30]:
t2

('A', 'B', 'C', 'D')

In [31]:
type(t2)

tuple

## Fim