# Criando um banco de dados SQLite em Python

Documentação SQLite: https://www.sqlite.org/docs.html

### Acessando banco de dados com Python

In [1]:
# Remove o arquivo com o banco de dados SQLite (caso exista)

import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [2]:
# Importando o módulo de acaesso ao SQLite

import sqlite3

# Cria uma conexão com o banco de dados. Se o banco de dados não existir, ele é criado neste momento

con = sqlite3.connect('escola.db')
type(con)

sqlite3.Connection

In [3]:
# Criando um cursor (um crusor permite percoerrer todos os registros em um conjunto de dados)

cur = con.cursor()
type(cur)

sqlite3.Cursor

### Criando um banco de dados SQL utilizando o comando DDL `create table`

In [4]:
# Criar uma instrução sql. Para criar uma tabela utiliza-se o comando DDL criate table. O nome da tabela, cursos, vem logo após 
# o comando create table. Em seguida, são adicionadas as colunas da tabela 'cursos': id, título e categoria. O tipo da coluna 
# (ex: integer, varchar, float) é informado após seu título e a chave primária (PK) é identificada. A primeira coluna não pode 
# ter valores repetido por se tratar de uma chave primária. varchar(100) = variável do tipo caracter com até 100 posições;
# varhar(140) = até 140 posições

sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [5]:
# Executando a instrução sql no cursor. Aqui é onde a tabela é de fato criada

cur.execute(sql_create)

### Inserindo registros no banco SQL utilizando o comando DML `insert into`

In [6]:
# Criando outra sentença SQL para inserir registros. Para inserir registros na tabela usiliza-se o comando DML `insert into`,
# em seguida o nome da tabela. o comando `values` é utilizado para indicar os valores dos registros que serão incluídos

sql_insert = 'insert into cursos values (?, ?, ?)'

In [7]:
# Dados. recset = recrod setting, ou conjunto de registros. Esse será o conjunto de registros adicionado a tabela 'cursos'

recset = [(1000, 'Ciência de Dados', 'Data Science'),
         (1001, 'Big Data Fundamentos', 'Big Data'),
         (1002, 'Python Fundamentos', 'Análise de Dados')]

In [8]:
# Inserindo os registros. Para cada registro rec em recset o cursor executará o comando de inclusão de registro na tabela

for rec in recset:
    cur.execute(sql_insert, rec)

### Gravando os novos registros que foram inseridos no banco de dados utilizando o comando `commit`

In [ ]:
# Grava a transação

con.commit()

In [ ]:
# Criando outra sentença SQL para selecionar registros

sql_select = 'select * from cursos'

### Selecionando registros no banco SQL utilizando o comando `select`

In [11]:
# Criando outra sentença SQL para selecionar registros

sql_select = 'select * from cursos'

In [12]:
# Seleciona todos os registros e recupera os registros

cur.execute(sql_select) # cur é o cursor, a conexão com o banco de dados
dados = cur.fetchall() # pega os registros e salva em dados

In [17]:
# Mostra os registros selecionados

for linha in dados:
    print('Curso Id: {}, Título : {}, Categoria: {} \n'.format(linha[0], linha[1], linha[2]))

Curso Id: 1000, Título : Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título : Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título : Python Fundamentos, Categoria: Análise de Dados

### Gerando novos resgistros, inserindo e gravando

In [18]:
# Gerando outros registros 

recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
        (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os novos registros

for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando os novos registros

con.commit()

### Selecionando todos os registros

In [21]:
# selecionando todos os registros

cur.execute('select * from cursos') # utilizando o comando SQL `select` diretamente no cursor 

# Recupera os resultados

recset = cur.fetchall()

# Mostra os registros

for rec in recset:
    print('Curos Id: {}, Título: {}, Categoria: {}\n'.format(rec[0], rec[1], rec[2]))

Curos Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curos Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curos Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curos Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curos Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [22]:
# Fecha a conexão

con.close()

## Fim