# Banco de dados SQLite em Python 2


Agora iremos criar o banco de dados e aplicar os comandos da linguagem SQL aplicando funções construídas em Python.

### Criando o banco de dados e inserindo dados

In [3]:
# Remover o arquivo com o banco de dados SQLite (caso exista)

import os 
os.remove('dsa.db') if os.path.exists('dsa.db') else None

In [23]:
import sqlite3

# Criando uma conexão 

conn = sqlite3.connect('dsa.db')

# Criando um cursor. O cursor permite percorrer todos os registros em um banco de dados. 
# As linhas de comando para criação de conexão e criação de cursor são obrigatórias.

c = conn.cursor()

# Função para criar uma tabela

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Inserir uma linha
    
def data_insert():
    c.execute("INSERT INTO produtos VALUES(10, '2018-05-02 14:32:11', 'Teclado', 90)")
    conn.commit()
    # c.close()
    # conn.close()

In [16]:
# Criar tabela utilizando a função

create_table()

In [17]:
# Inserir dados utilizando a função

data_insert()

  ### Automatizando o processo de inclusão de dados utilizando variáveis em Python

In [24]:
import random
import time
import datetime

# Usando variáveis para inserir dados. Os novos dados foram incluídos diretamente no corpor da função, mas poderíamos utilizar
# argumentos que alimentassem a função com dados gerados externamente a ela. É basicamente assim que funciona uma aplicação de 
# coleta de dados na web.

def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50, 100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

In [25]:
# Gerando os valores e inserindo na tabela

for i in range(10):
    data_insert_var()
    time.sleep(1)

### Utilizando a linguagem SQL através da linguagem Python para realizar consultas aos registros das tabelas

In [29]:
# Função para leitura de todos os dados

def leitura_todos_dados():
    c.execute('SELECT * FROM produtos')
    for linha in c.fetchall():
        print(linha)

# Função para leitura de registros específicos com valor menor do que 60,0

def leitura_registros():
    c.execute('SELECT * FROM produtos WHERE valor > 60.0')
    for linha in c.fetchall():
        print(linha)

# Função para leitura de colunas específicas, neste a coluna com o valor dos produtos
 
def leitura_colunas():
    c.execute('SELECT * FROM produtos')
    for linha in c.fetchall():
        print(linha[3])

In [27]:
# Select ou leitura de todos os dados 

leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-09-03 17:56:42.639355', 'Monitor', 68.0)
(12, '2020-09-03 17:56:43.828361', 'Monitor', 56.0)
(13, '2020-09-03 17:56:45.109931', 'Monitor', 95.0)
(14, '2020-09-03 17:56:46.186054', 'Monitor', 80.0)
(15, '2020-09-03 17:56:47.274956', 'Monitor', 67.0)
(16, '2020-09-03 17:56:48.333169', 'Monitor', 54.0)
(17, '2020-09-03 17:56:49.420414', 'Monitor', 89.0)
(18, '2020-09-03 17:56:50.482903', 'Monitor', 90.0)
(19, '2020-09-03 17:56:51.549884', 'Monitor', 50.0)
(20, '2020-09-03 17:56:52.609299', 'Monitor', 75.0)

In [30]:
# Select ou leitura de registros específicos

leitura_registros()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-09-03 17:56:42.639355', 'Monitor', 68.0)
(13, '2020-09-03 17:56:45.109931', 'Monitor', 95.0)
(14, '2020-09-03 17:56:46.186054', 'Monitor', 80.0)
(15, '2020-09-03 17:56:47.274956', 'Monitor', 67.0)
(17, '2020-09-03 17:56:49.420414', 'Monitor', 89.0)
(18, '2020-09-03 17:56:50.482903', 'Monitor', 90.0)
(20, '2020-09-03 17:56:52.609299', 'Monitor', 75.0)

In [32]:
# Select ou leitura de coluna específica

leitura_colunas()

90.0
68.0
56.0
95.0
80.0
67.0
54.0
89.0
90.0
50.0
75.0

### Operações de atualização e deleção com os comnados `update` e `delete`

In [34]:
# Atualizando os dados

def atualiza_dados():
    c.execute('UPDATE produtos SET valor = 70.00 WHERE valor = 80.0')
    conn.commit()

In [35]:
atualiza_dados()

In [36]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-09-03 17:56:42.639355', 'Monitor', 68.0)
(12, '2020-09-03 17:56:43.828361', 'Monitor', 56.0)
(13, '2020-09-03 17:56:45.109931', 'Monitor', 95.0)
(14, '2020-09-03 17:56:46.186054', 'Monitor', 70.0)
(15, '2020-09-03 17:56:47.274956', 'Monitor', 67.0)
(16, '2020-09-03 17:56:48.333169', 'Monitor', 54.0)
(17, '2020-09-03 17:56:49.420414', 'Monitor', 89.0)
(18, '2020-09-03 17:56:50.482903', 'Monitor', 90.0)
(19, '2020-09-03 17:56:51.549884', 'Monitor', 50.0)
(20, '2020-09-03 17:56:52.609299', 'Monitor', 75.0)

In [33]:
# Deletando os dados

def remove_dados():
    c.execute('DELETE FROM produtos WHERE valor = 50.0')
    conn.commit()

In [37]:
remove_dados()

In [38]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-09-03 17:56:42.639355', 'Monitor', 68.0)
(12, '2020-09-03 17:56:43.828361', 'Monitor', 56.0)
(13, '2020-09-03 17:56:45.109931', 'Monitor', 95.0)
(14, '2020-09-03 17:56:46.186054', 'Monitor', 70.0)
(15, '2020-09-03 17:56:47.274956', 'Monitor', 67.0)
(16, '2020-09-03 17:56:48.333169', 'Monitor', 54.0)
(17, '2020-09-03 17:56:49.420414', 'Monitor', 89.0)
(18, '2020-09-03 17:56:50.482903', 'Monitor', 90.0)
(20, '2020-09-03 17:56:52.609299', 'Monitor', 75.0)

In [39]:
# Encerrando o cursor e a conexão

c.close()
conn.close()

## Fim